:host {
    --font-color: #616161
}

.product-card {
    width: 82%;
    height: 100%;
    display: block;
    background: url('../../../assets/images/cuadro-boton.png');
    background-repeat: round;
    background-size: cover;
    position: relative;
    cursor: pointer;
    
}

.product-card__image {
    width: 100%;
    display: block;
    transition: transform .5s ease;
}

.product-card__image:hover {
    transform: scale(1.3);
    z-index: -1;
}

.product-card__name {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: var(--font-color);
    z-index: 2;
}

@media screen and (max-width: 900px) {

    .product-card__name {
        font-size: 13px;
    }
}

@media screen and (max-width: 700px) {

    .product-card {
        margin: auto;
    }

    .product-card__name {
        font-size: 10px;
        bottom: 8%;
    }
}