<div class="container">
    <header class="header">
        <img class="header__logo" src="../../../assets/images/logo.png" />
    </header>
    <div class="content">
        <p class="content__title">ELIGE UNA OPCIÓN</p>
        <div class="gallery">
            <app-button-image *ngFor="let category of categories" [image]="category.image" 
                (clickEvent)="selectCategory()" [name]="category.name"></app-button-image>
        </div>
    </div>
    <div class="button-container" *ngIf="!isLoading">
        <app-button text="Pagar" color="green" (clickEvent)="pay()"></app-button>
        <app-button text="Cancelar Orden" color="red" (clickEvent)="back()"></app-button>
    </div>
    <app-loading class="loading" *ngIf="isLoading"></app-loading>
</div>
