.background {
    background: url('../../../assets/images/portada.png');
    background-repeat: round;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.logo-container {
    position: absolute;
    left: 5%;
    top: 4%;
}

.button-container {
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.button-container button {
    margin: 0 auto;
    display: block;
    background-color: #f7395f;
    height: 40px;
    width: 130px;
    color: white;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .background {
        background: url('../../../assets/images/portada-mobile.png');
        background-repeat: round;
        background-size: cover;
    }
    
    .logo-container img {
        width: 50%;
    }

    .button-container {
        bottom: 20%;
    }

    .button-container button {
        height: 30px;
        width: 110px;
        color: white;
        font-size: 12px;
    }
}